@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

/* =========================
   login page
========================= */
body.login {
    height: 100vh;
    background: linear-gradient(to bottom),
        #2f6fc7 0%,
        #5fa0e5 40%,
        #cfe07a 70%,
}

/* =========================
   main layout（ログイン前）
========================= */

.login .wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .login-box {
    width: 340px;
    padding: 35px 30px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.35);
    text-align: center;
    color: white;
}

.login .login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.login .login-box button {
    width: 120px;
    padding: 8px;
    margin-top: 15px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}
